// Place all the styles related to the donors controller here.
// They will automatically be included in application.css.
// You can   Sass (SCSS) here: https://sass-lang.com/
.donor-register-cls {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
}
.donor-register-div {
    width: 70%;
    display: grid;
    box-shadow: 0 5px 25px 0 rgba(0, 0, 0, 0.2);
    grid-template-columns: 50% 50%;
    border-radius: 20px;
}
.form-div1 {
    background-color: white;
    color: #ff195e;
    border-radius: 20px;
}
.form-div2 {
    background-color: #ff195e;
    color: white;
    border-radius: 0 20px 20px 0;;
}
.donor-form-dropdown {
    width: 70%;
    height: 7vh;
    margin-left: 13%;
    border: 1px solid transparent;
    border-bottom: 2px solid #ccc;
    color: rgb(60, 55, 55);
    font-size: large;
}
.donor-form-input {
    width: 68.5%;
    height: 7vh;
    margin-left: 13%;
    border: 1px solid transparent;
    border-bottom: 2px solid #ccc;
    color: rgb(60, 55, 55);
    font-size: large;
}
.donor-form-label {
    font-size: 20px;
    font-weight: bold;
    margin-left: 13%;
}
.donor-form-date {
    width: 68.5%;
    height: 7vh;
    margin-left: 13%;
    border: 1px solid transparent;
    border-bottom: 2px solid #ccc;
    color: rgb(60, 55, 55);
    font-size: large;
}
.donor-form-btn {
    float: right;
    margin-right: 18%;
    margin-bottom: 2%;
    background-color: #ff195e;
    color: white;
    font-size: larger;
    font-weight: bold;
    width: 20%;
    cursor: pointer;
    height: 6vh;
    border-radius: 5px;
    border: transparent;
}
.register-avatar {
    width: 40%;
    margin-left: 28%;
    margin-top: 10%;
}
#donor-name {
    text-align: center;
    font-size: x-large;
    font-weight: bold;
}
#donor-email {
    text-align: center;
    font-size: x-large;
    font-weight: bold;
}
#donor-phone-no {
    text-align: center;
    font-size: x-large;
    font-weight: bold;
}
.donor-details span {
    font-weight: lighter;
    font-size: 25px;
}
.donor-img {
    width: 60%;
}
.notify {
    display: grid;
    grid-template-columns: 40% 60%;
    height: 87vh;
}
.notify-img {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.notify-msg {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 40px;
}
.blood-request-section {
    width: 100%;
    height: 87vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.blood-request-main-div {
    width: 80%;
    height: 95%;
    border-radius: 10px;
    box-shadow: 0 5px 25px 0 rgba(0, 0, 0, 0.2);
}
.blood-request-main-div form {
    display: grid;
    grid-template-columns: 50% 50%;
}
.patient-form-div {
    background-color: white;
    height: 82.7vh;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}
.request-blood-input {
    width: 70%;
    text-indent: 15px;
    font-size: 20px;
    letter-spacing: 0.5px;
    word-spacing: 6px;
    font-weight: 100;
    height: 7%;
    margin-left: 14%;
    border: none;
    outline: none;
    border-bottom: 1px solid rgb(104, 103, 103);
}
.hospital-location {
    width: 100%;
}
.hospital-location input {
    width: 35%;
    height: 5vh;
    text-indent: 15%;
    margin-left: 14%;
    border: none;
    font-size: 20px;
    letter-spacing: 0.5px;
    word-spacing: 6px;
    font-weight: 100;
    outline: none;
    border-bottom: 1px solid rgb(104, 103, 103);
}
.hospital-location select {
    width: 34%;
    height: 5.85vh;
    text-indent: 15%;
    font-size: 20px;
    letter-spacing: 0.5px;
    word-spacing: 6px;
    font-weight: 100;
    border: none;
    color: rgb(105, 105, 105);
    outline: none;
    border-bottom: 1px solid rgb(104, 103, 103);
}
.request-blood-select {
    color: rgb(105, 105, 105);
    width: 71%;
    height: 7%;
    margin-left: 14%;
    letter-spacing: 0.5px;
    word-spacing: 6px;
    text-indent: 15px;
    font-size: 20px;
    font-weight: 100;
    outline: none;
    border: none;
    border-bottom: 1px solid rgb(104, 103, 103);
}
.contact-person-div {
    background-color: #ff195e;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}
.contact-person-input {
    background-color: transparent;
    width: 71%;
    height: 7%;
    margin-left: 14%;
    letter-spacing: 0.5px;
    word-spacing: 6px;
    text-indent: 15px;
    font-size: 20px;
    color: white;
    font-weight: 100;
    outline: none;
    border: none;
    border-bottom: 1px solid white;
}
.contact-person-input::placeholder {
    color: white;
}
.request-btn {
    width: 29%;
    height: 7%;
    position: absolute;
    top: 62%;
    right: 15.5%;
    font-size: 18px;
    font-weight: bold;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}
.request-btn:hover {
    background-color: rgb(220, 220, 220);
}