.main-search-div {
    width: 100%;
    height: 88vh;
    background-image: url('Group 1.png');
    background-repeat: no-repeat;
    background-size: 60% 100%;
    background-position: center;
}
.donor-search {
    display: grid;
    grid-template-columns: 40% 50%;
}
.search-form {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 88vh;
}
.form {
    background-color: #edf6f5;
    border-radius: 10px;
    width: 60%;
    height: 53vh;
    text-align: center;
}
.blood-bank-form {
    background-color: #edf6f5;
    border-radius: 10px;
    width: 60%;
    height: 45vh;
    text-align: center;
}
.blood-bank-form input {
    text-align: center;
    width: 80%;
    height: 5vh;
    font-size: large;
    border: none;
    color: rgb(87, 87, 87);
    background-color: rgba(208, 207, 207, 0.833);
}
.blood-bank-form select:focus {
    background-color: white;
}
.blood-bank-form input:focus {
    background-color: white;
}
.blood-bank-form select {
    background-color: rgba(208, 207, 207, 0.833);
    width: 81%;
    height: 6vh;
    font-size: large;
    border: none;
    color: rgb(87, 87, 87);
    text-align: center;
}
.form input {
    text-align: center;
    width: 80%;
    height: 5vh;
    font-size: large;
    border: none;
    color: rgb(87, 87, 87);
    background-color: rgba(208, 207, 207, 0.833);
}
.form select:focus {
    background-color: white;
}
.form input:focus {
    background-color: white;
}
.form select {
    background-color: rgba(208, 207, 207, 0.833);
    width: 81%;
    height: 6vh;
    font-size: large;
    border: none;
    color: rgb(87, 87, 87);
    text-align: center;
}
.search-donor-quote {
    text-align: center; 
    font-size: 30px;
    font-weight: bold;
}
.search-donor-btn {
    width: 81%;
    height: 5.5vh;
    font-size: large;
    font-weight: bold;
    border: none;
    cursor: pointer;
    border: 2px solid #ff195e;
}
.search-donor-btn:hover {
    background-color: #ff195e;
    color: white;
}
.donor {
    margin-top: -2%; 
    color: #ff195e;
    font-size: large;
    font-weight: bold;
    position: absolute;
    right: 20%;
}
.search_result {
    width: 122.5vh;
}
.donor_details {
    width: 78%;
    background-color: #edf6f5;
    margin: 4% 10% 0 10%;
}
.donor_details table,th, td {
    border-collapse: collapse;
    padding: 10px 80px 10px 16px;
    text-align: left;
}
.else {
    width: 100%;
    margin-top: 30%;
}
#sorry {
    width: 30%;
    display: inline-block;
    vertical-align: top;
}
#sorry-img {
    width: 20%;
    display: inline-block;
    vertical-align: top;
}
.no-donor-text {
    display: inline-block;
    margin-top: 14%;
    font-size: 40px;
}
.else-blood_bank {
    width: 100%;
    margin-top: 30%;
}
.no-blood-bank {
    display: inline-block;
    margin-top: 8%;
    font-size: 30px;
}
.search-deatils {
    width: 80%;
    background-color: #edf6f5;
    margin: 4% 0 0 0;
}